/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Sep 2014, 5:28:45 PM
    Author     : Darren
*/
#navbar
{
    width: 100%;
    height: 35px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px #fffff;
    background-color:#cc0000;
    border-radius: 8px;
}
#navbar ul
{
   height: auto;
   padding: 12px 0px;
   margin: 0px;
}
#navbar li
{
    display: inline;
    padding: 20px;
    
}
#navbar a
{
    text-decoration: none;
    color: #ffffff;
    padding: 15px 15px 8px 15px;
}
#navbar a:hover
{
   color:#cc0000;
   background-color: #FFF;
   border-color: #6EA2DE;
   box-shadow: 0px 0px 10px #ff3333;
}


