/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Sep 2014, 5:28:45 PM
    Author     : Darren
*/
#header
{
    font-family: sans-serif;
    font-size: 25;
	font-weight:bold;
	font-style:italic;
	background-color:#FFF;
}
#navbar
{
    width: 100%;
    height: 35px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px #fffff;
    background-color:#cc0000;
    border-radius: 8px;
}
#navbar ul
{
   height: auto;
   padding: 12px 0px;
   margin: 0px;
}
#navbar li
{
    display: inline;
    padding: 20px;
    
}
#navbar a
{
    text-decoration: none;
    color: #ffffff;
    padding: 15px 15px 8px 15px;
}
#navbar a:hover
{
   color:#cc0000;
   background-color: #FFF;
   border-color: #6EA2DE;
   box-shadow: 0px 0px 10px #ff3333;
}


/*slider styles*/

#s3slider 
{
	height:300px;
	psition:relative;
	overflow:hidden;
	background-color:black;
    width: 100%;
	
}

#s3sliderContent 
{
	width:950px;
	height:300px;
	psition:absolute;
	top:0;
	margin-left:0;
	
}

.s3sliderImage 
{
	float:left;
	position:relative;
	display:none;
}

.s3sliderImage span 
{
	position:absolute;
	font:Arial,Helvetica,sans-serif;
	font-size:15px;
	padding:10px 13px;
	color:#FFF;
	background-color:#000;
	width:924px;
	display:none;
	opacity:0.7;
	-moz-opacity:0.7;
	filter:alpha (opacity=70);
}

.clear
{
	clear:both;	
}

/*overlay styles*/

.top
{
	top:0;
	left:0;
	width:924px;
	height:60px;
}

body
{
	background-color:#369;

}

/*Styles for Contact Us section*/

#headderC
{
	font-family: sans-serif;
    font-size: 1cm;
	font-weight:bold;
	font-style:italic;
	color:#FFF;
	background-color:#FFF;
	height:1.2cm;
	text-shadow: 2px 2px 2px #fffff;
    background-color:#cc0000;
    border-radius: 8px;
}

#headderA
{
	font-family: sans-serif;
    font-size: 1cm;
	font-weight:bold;
	font-style:italic;
	color:#FFF;
	background-color:#FFF;
	height:1.2cm;
	text-shadow: 2px 2px 2px #fffff;
    background-color:#cc0000;
    border-radius: 8px;
}

#headderP
{
	font-family: sans-serif;
    font-size: 1cm;
	font-weight:bold;
	font-style:italic;
	color:#FFF;
	background-color:#FFF;
	height:1.2cm;
	text-shadow: 2px 2px 2px #fffff;
    background-color:#cc0000;
    border-radius: 8px;
}

